@import "./styles/variables.css";

/* contains global css */

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-default);
}

a {
    color: var(--text-secondary);
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.logo {
    font-size: 1.2rem;
    font-family: var(--font-header);
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: var(--accent-black);
    text-decoration: none;

    display: flex;
    align-items: center;
}

.logo-icon {
    font-size: 2rem;
}

/* forms */

.normal-form {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.normal-form-header h1 {
    font-family: var(--font-header);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.normal-form p {
    color: var(--text-secondary);
    font-size: 0.9rem;
    font-style: italic;
}

.normal-form-content {
    display: grid;
    gap: 20px;
}