.access-files {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.access-files h1 {
    font-family: var(--font-header);
    margin-bottom: 20px;
}

.access-files a {
    margin-bottom: 20px;
}

.access-files .file-grid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 80px;
    grid-gap: 20px;
}

.access-files .normal-form {
    margin: 0 auto;
}
