.room-page {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 300px 1fr;
}


.sidebar {
    background: var(--bg-secondary);
    width: 300px;
    overflow: hidden;
}

.sidebar-wrapper {
    display: flex;
    width: 600px;
    transition: 0.3s;
}

.sidebar-wrapper.active {
    transform: translateX(-50%);
}

.sidebar-primary {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 650px;
}

.sidebar-primary-header {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 2rem;
}

.sidebar-link-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sidebar-link-item {
    font-size: 0.9rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-link-item svg {
    font-size: 1.3rem;
}

.sidebar-link-item.active {
    font-weight: 700;
    color: var(--text-primary);
    background: var(--border-color);
}

.sidebar-link-item:hover {
    background: var(--border-color);
}

.sidebar-primary-bottom {
    margin-top: auto;
    margin-bottom: 40px;
}

.sidebar-secondary {
    width: 300px;
}

.go-back-btn {
    --size: 40px;
    font-size: 1.2rem;
    width: var(--size);
    height: var(--size);
    margin: 10px;
    /* background: var(--bg-tertiary); */
}